.differences {
  width: 100%;
  background-color: #ffffffff;
  padding: size(40) 0;
  display: flex;
  justify-content: center;

  .diff {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .diff-texts {
      width: 50%;
      text-align: center;

      h3 {
        font-size: size(34);
        font-family: 'MFred';
        letter-spacing: 0.1em;
      }

      div {
        margin: 0 auto;
        text-align: center;
        max-width: size(300);
        font-size: size(11);
        font-family: 'AW Conqueror Didot';
      }
    }

    .wheel-container {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
