.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background: url('../imgs/hero-bg.jpg') no-repeat center / cover;

  color: #fff;

  .text-container > h3 {
    font-family: 'MFred';
    font-size: size(35);
    letter-spacing: size(1);
    line-height: 1;
  }

  .text-container > p {
    font-family: 'AW Conqueror Didot';
    font-size: size(12);
    width: 35.914375em;
    line-height: (20px / 16px);
  }

  .text-container {
    z-index: 2;
    a > button {
      font-family: 'MFred';
      outline: none;
      border: none;
      font-size: size(10);
      width: 203px;
      max-width: 200px;
      letter-spacing: 0.2em;
      background-color: #ffffff;
    }
  }
  .book-now:hover {
    background-color: rgb(132, 131, 131);
    transition: all 0.5s ease-in-out;
  }

  .text-container > div > a > img {
    width: 3em;
    height: 1.5em;
  }

  .hero-img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .hero-img-1 {
    right: size(100);
    display: initial;
  }
  .hero-img-2 {
    bottom: 0;
    right: 0;
    display: none;
  }
}

.home-extension {
  display: none;
  background-color: #000000;
  p {
    font-family: 'AW Conqueror Didot';
    font-size: 18px;
    line-height: 1.15;
  }

  a > button {
    font-family: 'MFred';
    outline: none;
    border: none;
    font-size: 15px;
    width: 203px;
    max-width: 200px;
    letter-spacing: 0.2em;
    background-color: #ffffff;
  }
}
