.modal-parent {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 999;

  .navigation {
    .btn-black {
      border: 0.0625em solid #000000;
      color: #000000;
    }
  }

  .links-container {
    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }

    a {
      p {
        font-family: 'MFred';
        margin: 0 0 size(5) 0;
        font-size: size(22);
        line-height: 1.5;
      }
    }
  }
}
