.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.825em 1.5625em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .logo {
    height: 5em;
    width: 12.25em;
  }

  div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      color: #fff;
      p {
        font-family: 'MFred';
        font-size: size(18);
        letter-spacing: size(2);
      }
    }
  }

  .burger {
    width: size(13);
    height: size(12);
    cursor: pointer;
    display: none;
  }

  .close {
    width: size(12);
    height: size(12);
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  button {
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 1.375em;
    letter-spacing: 0.2em;
    font-family: 'MFred';
    padding: 0.188rem 0.625rem 0;
  }

  .btn-white {
    border: 0.0625em solid #fff;
    color: #fff;
    display: none;
  }
}

.navigation-color {
  background-color: transparent;
}
